[Unit]
Description=Apply bootc updates
Documentation=man:bootc(8)
ConditionPathExists=|/run/ostree-booted
ConditionKernelCommandLine=|composefs

[Service]
Type=oneshot
ExecStart=/usr/bin/bootc upgrade --apply --quiet
